@{
    ViewData["Title"] = "API Credit";
}
<h1>@ViewData["Title"]</h1>

<p>Credit for the API to generate fake user data goes to <a target="_blank" href="https://randomuser.me/.">randomuser.me</a>.</p>
